
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');


body {
    /* margin: 2.8rem 1.2rem 0 1.2rem; */
    margin:0;
    padding:0%;
    background-color: hsl(0, 0%, 95%); 
    font-family: " Lexend Deca",  sans-serif;
}
 /* main flex container */
#main-container {
    margin: auto;
    margin-top: 6rem;
    display: flex;
    width: 57.5rem;
    height: 31.25rem;
}



#column1 {
    background-color: hsl(31, 77%, 52%);
    border-radius: 2% 0 0 2%;
    width: 33.39%;
    height: auto;

}

#column2 {
    background-color: hsl(184, 100%, 22%);
    width: 33.39%;
    height: auto;

}

#column3 {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 2% 2% 0;
    width: 33.39%;
    height: auto;

}

/* car icons  */

#sedan-icon {
    margin: 2.9rem 0 0 2.9rem;
    width: 4rem;
    height:2.5rem;
}

#suv-icon {
    margin:2.9rem 0 0 2.9rem;
    width: 4rem;
    height:2.5rem;
}


#luxury-icon {
    margin: 2.9rem  0 0 2.9rem;
    width: 4rem;
    height:2.5rem;
}

/* Header section */
H1 {
    color: hsl(0, 0%, 95%);
    font-size: 2.4rem;
    letter-spacing: 0.05rem;
    margin-top: 2.1rem;
    margin-left:2.9rem ;
    font-weight:700 ;
    font-family:'Big Shoulders Display', 'montserrat' ;
}



p{
    color:hsla(0, 0%, 100%, 0.75);
  
    font-weight:400;
    margin: 0.1rem 2.9rem 0 2.9rem;
    font-size: 1.1rem;
    line-height:1.6rem ;
}

/* learn more button section */
.learn-more-button {
    background-color: hsl(0, 0%, 95%);
    margin: 5rem 0 0px 2.8rem;
    width: 9.125rem;
    height: 3rem;
   letter-spacing: 0.05rem;
    font-size:1rem ;
    border-radius: 1.5rem;
    border: 2px solid white;
}
 
 .button1{
    color:hsl(31, 77%, 52%);
}
.button1:hover{
    background-color:hsl(31, 77%, 52%) ;
    color:hsl(0, 0%, 95%);
}
.button2 {
   color: hsl(184, 100%, 22%);
}
.button2:hover{
    background-color:hsl(184, 100%, 22%) ;
    color:hsl(0, 0%, 95%);
}
.button3{
    color:hsl(179, 100%, 13%);  
}
.button3:hover{
    background-color: hsl(179, 100%, 13%) ;
    color:hsl(0, 0%, 95%);
}

 /* challange  & linkstext section */ 
 #ChallengeText{
    color:black;
    text-align: center;
    margin-top: 1rem;
}
a{
    text-decoration: none;
    color: #033f63 ;
}
a:hover{
    font-size:.95rem;
    color: #0d98ba ;
}  


    
    

/* Mobile version done first at 375px */
@media (max-width: 400px){
body {
    /* margin: 2.8rem 1.2rem 0 1.2rem; */
    margin:0;
    padding:0%;
    background-color: hsl(0, 0%, 95%);
    font-size: 0.93rem;
    font-family: " Lexend Deca",  sans-serif;
   /* width:375px; */
}

 /* main flex container */
#main-container {
    margin-top:2.8rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 375px;
    height: auto;
} 

#column1 {
    background-color: hsl(31, 77%, 52%);
   border-radius: 2% 2% 0 0; 
    width: 20.4rem;
    height:27.8rem;
 
   
}
#column2 {
    background-color: hsl(184, 100%, 22%);
    width: 20.4rem;
    height: 27.8rem;
}

#column3 {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 0 2% 2%;
    width: 20.4rem; 
    height: 27.8rem;
}

/* car icons  */
 
#sedan-icon {
    margin: 2.5rem 0 0 2rem;
    width: 4rem;
    
}

#suv-icon {
    margin: 2.5rem 0 0 2rem;
    width: 4rem;
}


#luxury-icon {
    margin: 2.5rem  0 0 2rem;
    width: 4rem;
}


/* Header section */
 H1 {
    color: hsl(0, 0%, 95%);
    font-size: 2.2rem;
    letter-spacing: 0.04rem;
    margin-top:2rem;
    margin-left:2rem ;
   font-weight:600 ;
    font-family:'Big Shoulders Display', 'montserrat' ;
}


/* cards section */

p{
    color:hsla(0, 0%, 100%, 0.75);
    margin:1rem  2.1rem 1.1rem 2rem;
    font-weight:300;
    letter-spacing: 0.05rem;
    line-height: 1.7rem;  
}


/* learn more button section */
 .learn-more-button {
    background-color: hsl(0, 0%, 95%);
    margin:1rem 0 0rem 1.9rem;
    
    width: 9.25rem;
    height: 3rem;
    padding: 0.31rem;
  
    border-radius: 1.7rem;
    border: 2px solid white;
}
.learn-more-button:hover{
   
    padding-top:.3rem ;
}   
 .button1{
    color:hsl(31, 77%, 52%);
}
.button1:hover{
    background-color:hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
}
.button2 {
   color: hsl(184, 100%, 22%);
}
.button2:hover{
    background-color:hsl(184, 100%, 22%);
    color:hsl(0, 0%, 95%);
}
.button3{
    color:hsl(179, 100%, 13%);
}
.button3:hover{
    background-color:hsl(179, 100%, 13%) ;
    color:hsl(0, 0%, 95%);
}

/* * challange  & linkstext section */ 
 #ChallengeText{
    color:black;
    text-align: center;
    font-size: 0.5rem;
}
a{
    text-decoration: none;
    color: #033f63 ;
}
a:hover{
    font-size:.55rem;
    color: #0d98ba ;
} 

}


/* End of mobile version */


